.text-field
{
    -fx-max-width: 300px;
    -fx-max-height: 40px;
    -fx-pref-height: 40px;
}
#confirm
{
    -fx-background-color: #019ee3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;
    -fx-translate-y: 20px;
}
#title
{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
