.root {
        -fx-background-image: url("../img/bg.jpg");
        -fx-background-position: center;
        -fx-background-size: cover;
}

.login_header {
        -fx-font-size: 36;
        -fx-font-weight: bold;
        -fx-text-fill: white;
        -fx-effect: dropshadow(gaussian, black, 3, 0.5, 0.2, 0.1);
}

.forgot_password {
        -fx-font-weight: bold;
        -fx-text-fill: white;
        -fx-effect: dropshadow(gaussian, black, 3, 1, 0.2, 0.1);
        -fx-font-size: 12;
}